body {
  overflow-y: hidden !important;
}
/* =============Flexbox IE Fix============= */
_:-ms-fullscreen, :root [class*='equal width'].ui.grid > :not(.row).column, [class*='equal width'].ui.grid > .row > .column, .ui.grid > [class*='equal width'].row > .column {
  -ms-flex: 1 !important;
  -webkit-flex: 1 !important;
  flex: 1 !important;
 /* IE 10 */
}
/* =============Flexbox IE Fix============= */

/* =============Clearfix============= */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}
/* =============Clearfix============= */


/* =============Some Css Settings============ */
xmp{
    background:rgba(255, 224, 102, 0.50);
    padding:0 5px;
}
.article {
  background: #f0f0f0;
  position: relative;
  z-index: 0 !important;
  min-height: 955px !important;
  margin-bottom: 0 !important;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #50514F;
  height: 50px;
  z-index: 1;
  color: #fff;
  padding: 15px 10px !important;
}
.mailuserlabel{
    float:left;margin-top:-3px!important;margin-left:20px
}

.no-radius {
  border-radius: 0 !important;
}

.no-shadow {
  box-shadow: none !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-lrborder {
  border-left: none !important;
  border-right: none !important;
}
.sidemenu {
  top: 61px !important;
}

.admin > div.pusher > div > div.toc > div {
  padding-bottom: 100px;
}
.filtr-container > div {
  padding: 6.5px !important;
}

.extra.text {
  max-width: 100% !important;
}

.ui.buttons .or:before {
  line-height: 1.65em;
}

.centerla {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -100px;
}

.ui.sidebar.thinside {
  overflow: visible !important;
}

.ui.pointing.dropdown > .menu {
  border-radius: .28571429rem !important;
}

.embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.transition.demo .button {
  margin-bottom: .5em;
}

.no-border,
.ui.horizontal.segments {
  border: none !important;
}

.text-white,
.whitetext {
  color: #fff !important;
}
.logoImg {
  margin: 0 auto !important;
}
/* =============Some Css Settings============ */

/* =============Scrollbar Ios============ */
html.ios {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

html.ios,
    html.ios body {
  height: initial !important;
}
/* =============Scrollbar Ios============ */

/* =============Hide Scrollbar============= */
.sidebar::-webkit-scrollbar {
  display: none !important;
}
/* =============Hide Scrollbar============= */

/* =============Footer Colorize Button============ */
.colorize {
  margin-top: -5px !important;
  padding: 10px 5px 7px 10px !important;
}
/* =============Footer Colorize Button============ */

/* =============Extra Segment and Tooltip Color============= */
.nightli {
  background: #2e3e4e;
  color: #fff;
  text-shadow: none !important;
  background-image: none !important;
}

.ui.inverted.nightli.bottom.popup:before,
.ui.inverted.nightli.left.center.popup:before,
.ui.inverted.nightli.right.center.popup:before,
.ui.inverted.nightli.top.popup:before {
  background: #2e3e4e !important;
}

.whiteli {
  background: #fff !important;
  color: #2e3e4e !important;
  text-shadow: none !important;
  background-image: none !important;
}

.ui.inverted.whiteli.bottom.popup:before,
.ui.inverted.whiteli.left.center.popup:before,
.ui.inverted.whiteli.right.center.popup:before,
.ui.inverted.whiteli.top.popup:before {
  background: #fff;
}

.redli {
  background: #F25F5C !important;
  color: #fff !important;
  text-shadow: none !important;
  background-image: none !important;
}

.ui.inverted.redli.bottom.popup:before,
.ui.inverted.redli.left.center.popup:before,
.ui.inverted.redli.right.center.popup:before,
.ui.inverted.redli.top.popup:before {
  background: #F25F5C;
}

.blueli {
  background: #247BA0 !important;
  color: #fff !important;
  text-shadow: none !important;
  background-image: none !important;
}

.ui.inverted.blueli.bottom.popup:before,
.ui.inverted.blueli.left.center.popup:before,
.ui.inverted.blueli.right.center.popup:before,
.ui.inverted.blueli.top.popup:before {
  background: #247BA0;
}

.yellowli {
  background: #FFE066 !important;
  color: #50514F !important;
  text-shadow: none !important;
  background-image: none !important;
}

.ui.inverted.yellowli.bottom.popup:before,
.ui.inverted.yellowli.left.center.popup:before,
.ui.inverted.yellowli.right.center.popup:before,
.ui.inverted.yellowli.top.popup:before {
  background: #FFE066;
}

.greyli {
  background: #50514F !important;
  color: #fff !important;
  text-shadow: none !important;
  background-image: none !important;
}

.ui.inverted.greyli.bottom.popup:before,
.ui.inverted.greyli.left.center.popup:before,
.ui.inverted.greyli.right.center.popup:before,
.ui.inverted.greyli.top.popup:before {
  background: #50514F;
}

.greenli {
  background: #32936F !important;
  color: #fff !important;
  text-shadow: none !important;
  background-image: none !important;
}

.ui.inverted.greenli.bottom.popup:before,
.ui.inverted.greenli.left.center.popup:before,
.ui.inverted.greenli.right.center.popup:before,
.ui.inverted.greenli.top.popup:before {
  background: #32936F;
}

.darkpurpleli {
  background: #2A1A1F !important;
  color: #fff !important;
  text-shadow: none !important;
  background-image: none !important;
}

.ui.inverted.darkpurpleli.bottom.popup:before,
.ui.inverted.darkpurpleli.left.center.popup:before,
.ui.inverted.darkpurpleli.right.center.popup:before,
.ui.inverted.darkpurpleli.top.popup:before {
  background: #2A1A1F;
}

.darkorangeli {
  background: #764134 !important;
  color: #fff !important;
  text-shadow: none !important;
  background-image: none !important;
}

.ui.inverted.darkorangeli.bottom.popup:before,
.ui.inverted.darkorangeli.left.center.popup:before,
.ui.inverted.darkorangeli.right.center.popup:before,
.ui.inverted.darkorangeli.top.popup:before {
  background: #764134;
}

.greenli2 {
  background: #307473 !important;
  color: #fff !important;
  text-shadow: none !important;
  background-image: none !important;
}

.ui.inverted.greenli2.bottom.popup:before,
.ui.inverted.greenli2.left.center.popup:before,
.ui.inverted.greenli2.right.center.popup:before,
.ui.inverted.greenli2.top.popup:before {
  background: #307473;
}

.pinkli {
  background: #E76D83 !important;
  color: #fff !important;
  text-shadow: none !important;
  background-image: none !important;
}

.ui.inverted.pinkli.bottom.popup:before,
.ui.inverted.pinkli.left.center.popup:before,
.ui.inverted.pinkli.right.center.popup:before,
.ui.inverted.pinkli.top.popup:before {
  background: #E76D83;
}

.lightyellowli {
  background: #EFD28D !important;
  color: #001011 !important;
  text-shadow: none !important;
  background-image: none !important;
}

.ui.inverted.lightyellowli.bottom.popup:before,
.ui.inverted.lightyellowli.left.center.popup:before,
.ui.inverted.lightyellowli.right.center.popup:before,
.ui.inverted.lightyellowli.top.popup:before {
  background: #EFD28D;
}

.darkli {
  background: #001011 !important;
  color: #fff !important;
  text-shadow: none !important;
  background-image: none !important;
}

.ui.inverted.darkli.bottom.popup:before,
.ui.inverted.darkli.left.center.popup:before,
.ui.inverted.darkli.right.center.popup:before,
.ui.inverted.darkli.top.popup:before {
  background: #001011;
}

.pinkli2 {
  background: #C1839F !important;
  color: #fff !important;
  text-shadow: none !important;
  background-image: none !important;
}

.ui.inverted.pinkli2.bottom.popup:before,
.ui.inverted.pinkli2.left.center.popup:before,
.ui.inverted.pinkli2.right.center.popup:before,
.ui.inverted.pinkli2.top.popup:before {
  background: #C1839F;
}

.lightbrownli {
  background: #E1B07E !important;
  color: #fff !important;
  text-shadow: none !important;
  background-image: none !important;
}

.ui.inverted.lightbrownli.bottom.popup:before,
.ui.inverted.lightbrownli.left.center.popup:before,
.ui.inverted.lightbrownli.right.center.popup:before,
.ui.inverted.lightbrownli.top.popup:before {
  background: #E1B07E;
}
/* =============Extra Segment and Tooltip Color============= */


/* =============Extra Pages Settings============ */
.error404 {
  background: url(../../images/../../images/404.png) no-repeat top center #6a8733;
  background-size: cover;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.errorcontainer {
  padding: 5em;
}

.errorcontainer h1 {
  font-size: 4em !important;
}

.lockmecontainer {
  padding: 20em;
}

.forgotcontainer {
  padding: 15em 30em;
}

.signupcontainer {
  padding: 10em;
}


.forgotcontainer .segment {
  width: 288px;
}

.comingsoon {
  background: #307473;
  color: #fff;
}

.comingsooncontainer {
  margin: 0 auto;
  padding: 300px 0;
}

.lockme,
.forgot,
.signup,
.signin {
  background: #307473;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  padding-top:10%;
}
/* =============Extra Pages Settings============ */

.containerli {
  margin-top: 61px;
  margin-bottom: 45px;
}

.containerliSettings {
  margin-top: 56px;
  margin-bottom: 50px;
}

.pricelist .item {
  padding: 1em 0 !important;
}

/* =============Horizontal Segmnets Border-Radius(index.html)============ */
.ui.horizontal.segments > .segment:first-child {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.ui.horizontal.segments > .segment:last-child {
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* =============Horizontal Segmnets Border-Radius(index.html)============ */


/* =============Sidebar,Navbar Change Color List============= */
.colorlist,
.sidecolor {
  float: left !important;
  text-align: left !important;
  -webkit-padding-start: 0 !important;
  list-style: none;
  max-width: 180px;
}

.colorlist li,
    .sidecolor li {
  float: left;
  cursor: pointer;
  margin: 1px;
}

.colorlist li a,
        .sidecolor li a {
  width: 10px;
  height: 10px;
  display: block;
}
/* =============Sidebar,Navbar Change Color List============= */

/* =============Calendar Add Event List Change Color List============= */
.calendarcolorlist {
  float: left !important;
  text-align: left !important;
  -webkit-padding-start: 0 !important;
  list-style: none;
  max-width: 100%;
  margin: 0;
}

.calendarcolorlist li {
  float: left;
  cursor: pointer;
  margin: 1px;
}

.calendarcolorlist li a.segment {
  width: 42.7px !important;
  height: 10px;
  display: block;
}
/* =============Calendar Add Event List Change Color List============= */

@media screen and (max-width: 1144px) {
  .navmenu {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 420px) {
  .fixed.top.menu {
    display: none;
  }
}



/* =============Sparkline Chart Tooltip============= */
.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/* =============Sparkline Chart Tooltip============= */

/* =============Extra Radio and Checkbox Color============= */
.ui.toggle.checkbox input:checked ~ .box:before,
.ui.toggle.checkbox input:checked ~ .coloring.red:before {
  background: #F25F5C !important;
}

.ui.toggle.checkbox input:checked ~ .box:before,
.ui.toggle.checkbox input:checked ~ .coloring.yellow:before {
  background: #EFD28D !important;
}

.ui.toggle.checkbox input:checked ~ .box:before,
.ui.toggle.checkbox input:checked ~ .coloring.blue:before {
  background: #247BA0 !important;
}

.ui.toggle.checkbox input:checked ~ .box:before,
.ui.toggle.checkbox input:checked ~ .coloring.green:before {
  background: #307473 !important;
}

.ui.toggle.checkbox input:checked ~ .box:before,
.ui.toggle.checkbox input:checked ~ .coloring.black:before {
  background: #001011 !important;
}

.ui.toggle.checkbox input:checked ~ .box:before,
.ui.toggle.checkbox input:checked ~ .coloring.orange:before {
  background: orange !important;
}

.ui.toggle.checkbox input:checked ~ .box:before,
.ui.toggle.checkbox input:checked ~ .coloring.grey:before {
  background: #666 !important;
}

.ui.toggle.checkbox input:checked ~ .box:before,
.ui.toggle.checkbox input:checked ~ .coloring.pink:before {
  background: #C1839F !important;
}

.ui.toggle.checkbox input:checked ~ .box:before,
.ui.toggle.checkbox input:checked ~ .coloring.brown:before {
  background: #764134 !important;
}

.ui.slider.checkbox input:checked ~ .box:before,
.ui.slider.checkbox input:checked ~ .coloring.red:before {
  background: #F25F5C !important;
}

.ui.slider.checkbox input:checked ~ .box:before,
.ui.slider.checkbox input:checked ~ .coloring.yellow:before {
  background: #EFD28D !important;
}

.ui.slider.checkbox input:checked ~ .box:before,
.ui.slider.checkbox input:checked ~ .coloring.blue:before {
  background: #247BA0 !important;
}

.ui.slider.checkbox input:checked ~ .box:before,
.ui.slider.checkbox input:checked ~ .coloring.green:before {
  background: #307473 !important;
}

.ui.slider.checkbox input:checked ~ .box:before,
.ui.slider.checkbox input:checked ~ .coloring.black:before {
  background: #001011 !important;
}

.ui.slider.checkbox input:checked ~ .box:before,
.ui.slider.checkbox input:checked ~ .coloring.orange:before {
  background: orange !important;
}

.ui.slider.checkbox input:checked ~ .box:before,
.ui.slider.checkbox input:checked ~ .coloring.grey:before {
  background: #666 !important;
}

.ui.slider.checkbox input:checked ~ .box:before,
.ui.slider.checkbox input:checked ~ .coloring.pink:before {
  background: #C1839F !important;
}

.ui.slider.checkbox input:checked ~ .box:before,
.ui.slider.checkbox input:checked ~ .coloring.brown:before {
  background: #764134 !important;
}

.ui.radio.checkbox input:checked ~ .box:after,
.ui.radio.checkbox input:checked ~ .coloring.red:after {
  background: #F25F5C !important;
}

.ui.radio.checkbox input:checked ~ .box:after,
.ui.radio.checkbox input:checked ~ .coloring.yellow:after {
  background: #EFD28D !important;
}

.ui.radio.checkbox input:checked ~ .box:after,
.ui.radio.checkbox input:checked ~ .coloring.blue:after {
  background: #247BA0 !important;
}

.ui.radio.checkbox input:checked ~ .box:after,
.ui.radio.checkbox input:checked ~ .coloring.green:after {
  background: #307473 !important;
}

.ui.radio.checkbox input:checked ~ .box:after,
.ui.radio.checkbox input:checked ~ .coloring.orange:after {
  background: orange !important;
}

.ui.radio.checkbox input:checked ~ .box:after,
.ui.radio.checkbox input:checked ~ .coloring.grey:after {
  background: #666 !important;
}

.ui.radio.checkbox input:checked ~ .box:after,
.ui.radio.checkbox input:checked ~ .coloring.pink:after {
  background: #C1839F !important;
}

.ui.radio.checkbox input:checked ~ .box:after,
.ui.radio.checkbox input:checked ~ .coloring.brown:after {
  background: #764134 !important;
}

.ui.checkbox input:checked ~ .box:after,
.ui.checkbox input:checked ~ .coloring.red:after {
  color: #F25F5C !important;
}

.ui.checkbox input:checked ~ .box:after,
.ui.checkbox input:checked ~ .coloring.yellow:after {
  color: #EFD28D !important;
}

.ui.checkbox input:checked ~ .box:after,
.ui.checkbox input:checked ~ .coloring.blue:after {
  color: #247BA0 !important;
}

.ui.checkbox input:checked ~ .box:after,
.ui.checkbox input:checked ~ .coloring.green:after {
  color: #307473 !important;
}

.ui.checkbox input:checked ~ .box:after,
.ui.checkbox input:checked ~ .coloring.orange:after {
  color: orange !important;
}

.ui.checkbox input:checked ~ .box:after,
.ui.checkbox input:checked ~ .coloring.grey:after {
  color: #666 !important;
}

.ui.checkbox input:checked ~ .box:after,
.ui.checkbox input:checked ~ .coloring.pink:after {
  color: #C1839F !important;
}

.ui.checkbox input:checked ~ .box:after,
.ui.checkbox input:checked ~ .coloring.brown:after {
  color: #764134 !important;
}
/* =============Extra Radio and Checkbox Color============= */

/* =============Editable Table Button Fix============= */
.editbtn {
  float: left !important;
  margin-left: 5px !important;
}
/* =============Editable Table Button Fix============= */

/* =============Html Editor Width Fix============= */
.trumbowyg-box,
.trumbowyg-editor {
  width: 100%;
  margin: 0 auto;
}
/* =============Html Editor Width Fix============= */

/* =============Button,Label,Input Margin Fix On Tablet============= */
.ui.button, .ui.label, .ui.input {
  margin-bottom: 5px;
}
/* =============Button,Label,Input Margin Fix On Tablet============= */

/* =============Mobil Side Menu Z-Index Fix============= */
#toc {
  z-index: 999;
}
/* =============Mobil Side Menu Z-Index Fix============= */


/* =============Sidebar Layout============= */
.admin > .pusher > .full.height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.admin:not(.site) > .pusher > .full.height {
  background-color: #FFFFFF;
}

/* page layout */
.admin .full.height > .toc {
  position: relative;
  z-index: 1;
  width: 250px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.admin > div.pusher > div > div.toc > div > div > div:nth-child(1) > a {
  margin-bottom: 0;
}

.admin .full.height > .toc .ui.menu {
  border-radius: 0;
  border-width: 0 1px 0 0;
  box-shadow: none;
  margin: 0;
  width: inherit;
  overflow: hidden;
  will-change: transform;
}

.admin .article {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 0;
}
/* Hide Top Bar */
@media only screen and (min-width: 1145px) {
  .admin .fixed.main.menu {
    display: none;
  }
}

/* Remove Fixed Sidebar /  Show Top Bar */
@media only screen and (max-width: 1144px) {
    /* Hide Fixed Sidebar */
  .admin .full.height > .toc {
    display: none;
  }
}
/* =============Sidebar Layout============= */

/* =============Datatable Page Css============= */

.ui.table.dataTable thead th {
  cursor: pointer;
  white-space: nowrap;
  border-left: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
}

.ui.table.dataTable thead th:first-child {
  border-left: none;
}

.ui.table.dataTable thead .sorting,
.ui.table.dataTable thead .sorting_asc,
.ui.table.dataTable thead .sorting_desc,
.ui.table.dataTable thead .sorting_asc_disabled,
.ui.table.dataTable thead .sorting_desc_disabled,
.ui.table.dataTable thead .sorting:hover,
.ui.table.dataTable thead .sorting_asc:hover,
.ui.table.dataTable thead .sorting_desc:hover,
.ui.table.dataTable thead .sorting_asc_disabled:hover,
.ui.table.dataTable thead .sorting_desc_disabled:hover {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ui.table.dataTable thead th:after {
  display: none;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  content: '';
  height: 1em;
  width: auto;
  opacity: 0.8;
  margin: 0em 0em 0em 0.5em;
  font-family: 'Icons';
}

.ui.table.dataTable thead th.sorting_asc:after {
    /*content: '\f0d8';*/
  content: '\f160';
}

.ui.table.dataTable thead th.sorting_desc:after {
    /*content: '\f0d7';*/
  content: '\f161';
}

.ui.table.dataTable thead th.sorting:after {
  content: '\f0dc';
  opacity: 0.2;
}
/* Hover */

.ui.table.dataTable th.disabled:hover {
  cursor: auto;
  color: rgba(40, 40, 40, 0.3);
}

.ui.table.dataTable thead th:hover {
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
}
/* Sorted */

.ui.table.dataTable thead .sorting_asc,
.ui.table.dataTable thead .sorting_desc,
.ui.table.dataTable thead .sorting_asc_disabled,
.ui.table.dataTable thead .sorting_desc_disabled {
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.95);
}

.ui.table.dataTable thead .sorting:after,
    .ui.table.dataTable thead .sorting_asc:after,
    .ui.table.dataTable thead .sorting_desc:after,
    .ui.table.dataTable thead .sorting_asc_disabled:after,
    .ui.table.dataTable thead .sorting_desc_disabled:after {
  display: inline-block;
}
    /* Sorted Hover */

.ui.table.dataTable thead .sorting_asc:hover,
    .ui.table.dataTable thead .sorting_desc:hover,
    .ui.table.dataTable thead .sorting_asc_disabled:hover,
    .ui.table.dataTable thead .sorting_desc_disabled:hover {
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.95);
}

.dataTables_length select {
  background: #fff none repeat scroll 0 0;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0.285714rem;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  display: inline-block;
  line-height: 1.2142em;
  min-height: 0.714286em;
  outline: 0 none;
  padding: 0.3em;
  -moz-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
  -webkit-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
  -moz-transition: box-shadow 0.1s ease 0s, width 0.1s ease 0s;
  -o-transition: box-shadow 0.1s ease 0s, width 0.1s ease 0s;
  -webkit-transition: box-shadow 0.1s ease 0s, width 0.1s ease 0s;
  transition: box-shadow 0.1s ease 0s, width 0.1s ease 0s;
  white-space: normal;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.dataTables_wrapper .dataTables_filter {
  text-align: right;
  color: rgba(0, 0, 0, 0.87);
  display: inline-flex;
  position: relative;
}

.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
}

.dataTables_wrapper .dataTables_info {
  clear: both;
  padding-top: 0.755em;
}

.dataTables_filter input {
  background: #fff none repeat scroll 0 0;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0.285714rem;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.87);
  -ms-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  height: 1em;
  margin: 0;
  max-width: 100%;
  outline: 0 none;
  padding: .4em;
  text-align: left;
  -moz-transition: background-color 0.1s ease 0s, box-shadow 0.1s ease 0s, border-color 0.1s ease 0s;
  -o-transition: background-color 0.1s ease 0s, box-shadow 0.1s ease 0s, border-color 0.1s ease 0s;
  -webkit-transition: background-color 0.1s ease 0s, box-shadow 0.1s ease 0s, border-color 0.1s ease 0s;
  transition: background-color 0.1s ease 0s, box-shadow 0.1s ease 0s, border-color 0.1s ease 0s;
}

/* =============Datatable Page Css============= */

/* =============Index Page Css============= */


